<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <application
        android:label="krypton"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">

        <!-- Activity principal do app -->
        <activity
            android:enableOnBackInvokedCallback="true"
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Activity de autofill: aberta pelo Android ao tocar na sugestão "Desbloquear com Krypton".
             Usa o Flutter engine com autofillEntryPoint (via getDartEntrypointFunctionName).
             launchMode=singleTop: reutiliza a instância se já aberta (onNewIntent).
             NÃO tem taskAffinity="" para garantir que setResult() seja entregue corretamente. -->
        <activity
            android:name=".AutofillActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
        </activity>

        <!-- Serviço de autofill nativo do Krypton.
             OBRIGATÓRIO:
               • android:permission="android.permission.BIND_AUTOFILL_SERVICE" para que o
                 Android confie no serviço e o exiba nas configurações de preenchimento.
               • intent-filter com a action AutofillService para que o sistema o descubra. -->
        <service
            android:name=".KryptonAutofillService"
            android:exported="true"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">

            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>

            <!-- Aponta para o XML de configuração do serviço (html/password hints etc.) -->
            <meta-data
                android:name="android.service.autofill"
                android:resource="@xml/autofill_service_config" />

        </service>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>